<div class="collapsible-menu">
  <h3><i class="collapsible-btn uil uil-angle-down"></i>{{this.title}}</h3>
  <div class="collapsible-content">
    <!-- display goals from db -->
    {{#each goals}}
    <div class="goal-container">
      <div class="goal" style="background: {{this.color}};">
        <a href='/user/dashboard?goal_id={{this._id}}'><h4>{{this.title}}</h4></a>
        <div class="edit-icons">
          <i class="uil uil-pen"></i>
          <form class="delete-form" method="POST" action="/user/goals/{{this._id}}/delete">
            <button type="submit"><i class="uil uil-trash-alt"></i></button>
          </form>
        </div>
      </div>
      <!-- form to edit goals -->
      <form class="edit-goal-form" method="POST" action="/user/goals/{{this._id}}/edit">
        <div>
          <input class="add-input" type="text" name="title" value="{{this.title}}">
          <button class="save-btn" type="submit">save</button>
        </div>
        <div>
          <input class="date-picker" type="date" name="startDate">
          <input class="date-picker" type="date" name="endDate">
          <input class="color-picker" type="color" name="color" value="#636EE6">
        </div>
      </form>
    </div>
    {{/each}}
    <!-- add new goal -->
    <form class="add-goal-form" method="POST" action="/user/goals">
      <input class="add-input" type="text" name="title" placeholder="Add goal">
      <button type="submit"><i class="uil uil-plus"></i></button>
      <span class="options">
        <input class="date-picker" type="date" name="startDate">
        <input class="date-picker" type="date" name="endDate">
        <input class="color-picker" type="color" name="color" value="#636EE6">
      </span>
      <input class="hidden" type="text" name="category" value="{{this.category}}">
    </form>
  </div>
</div>