<nav>
  <div>
    <h2>Hi {{ currentUser.firstName }}</h2>
    <figure>
      <blockquote>{{ zenQuote.q }}</blockquote>
      <figcaption>{{ zenQuote.a }}</figcaption>
    </figure>
  </div>

  <!-- settings menu -->
  <img src="" alt="settings icon">
  <a href="/profile">Profile</a>
  <form id="logout-form" method="POST" action="/logout">
    <button>Logout</button>
  </form>
</nav>
<main>
  <!-- goals container -->
  <section id="goals-section">
    <h2>Goals & projects</h2>
    <h3>Work & study</h3>
    <!-- display goals from db -->
    {{#each }}
    <!-- add new goal -->
    <form method="POST" action="/user/dashboard">
      <input type="text" name="goal" placeholder="Add goal">
      <input type="date" name="endDate">
      <button type="submit"></button>
    </form>
    <h3>Health & fitness</h3>
    <h3>Social life</h3>
    <h3>Finance</h3>
    <h3>Misc.</h3>
  </section>

  <!-- tasks container -->
  <section id="tasks-section">
    <h2>Today</h2>
    <!-- display today's tasks -->
    {{#each todayTasks}}
    <div id="task-{{this.isDone}}">
      <div id="small-circle"></div>
      <div>{{this.title}}</div>
    </div>
    {{/each}}
    <!-- add new task -->
    <form method="POST" action="/user/dashboard">
      <input type="text" name="task" placeholder="Add task">
      <select name="task-goal">
        {{#each currentGoals}}
        <option value="{{this._id}}">{{this.title}}</option>
        {{/each}}
      </select>
    </form>
    <h2>Overdue</h2>
    <!-- display overdue tasks -->
  </section>

  <!-- widget section -->
  <section id="widget-section">

  </section>
</main>