
<main id="dashboard">
  <nav>
    <!-- greeting section-->
    <div>
      <h1><span id="greeting-msg"></span> {{userName}}</h1>
      <figure>
        <blockquote><i>"{{zenQuote.q}}"</i></blockquote>
        <figcaption>– {{zenQuote.a}}</figcaption>
      </figure>
    </div>
    <!-- settings menu -->
    <div id="toggle-menu">
      <i class="uil uil-setting"></i>
      <ul id="toggle-links">
        <li><a href="/user/profile"><i class="uil uil-user-circle"></i> Profile</a></li>
        <hr>
        <li>
          <form method="POST" action="/auth/logout">
            <button type="submit"><i class="uil uil-sign-out-alt"></i></i> Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>

  <!-- main screen -->
  <div id="dashboard-container">
    <!-- goals container -->
    <section id="goals-section">
      <h2>Goals & projects</h2>
      <h3><a href='/user/dashboard'><i class="uil uil-calendar-alt"></i> Today's tasks</a></h3>
      
      <!-- display goals -->
      {{#each goals}}
        {{> goals this}}
      {{/each}}
    </section>

    <!-- tasks container -->
    <section id="tasks-section">
      <h2>Today</h2>
      <h4 id="date-today"></h4>

      <!-- display today's tasks -->
      {{#each todayTasks}}
        {{> tasks this}}
      {{/each}}

      <!-- add new task -->
      <form id="add-task-form" method="POST" action="/user/tasks">
        <input class="add-input" type="text" name="title" placeholder="Add task">
        <button type="submit"><i class="uil uil-plus"></i></button>
        <div class="options">
          <span class="datepicker-toggle">
            <input class="date-picker" type="date" name="endDate">
          </span>
          <select class="goal-selector" name="taskGoal">
            <option value="">Link to goal</option>
            {{#each allGoals}}
            <option value="{{this._id}}">{{this.title}}</option>
            {{/each}}
          </select>
        </div>
      </form>
      
      {{#if overdueTasks}}
      <h2>Overdue</h2>
      <!-- display overdue tasks -->
        {{#each overdueTasks}}
          {{#if this.isDone}}
          {{else}}
          {{> tasks this}}
          {{/if}}
        {{/each}}
      {{else}}
      {{/if}}
    </section>

    <!-- widget section -->
    <section id="widget-section">
      <!-- page switch -->
      <div id="page-toggle">
        <div>focus</div>
        <label class="switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
        <div>relax</div>
      </div>
  

      <div class="card-outer-wrapper">
        <div class="card-inner-wrapper">
          <!-- front of card -->
          <div class="card-front">
            <div class="center-wrapper">
              <div id="pomodoro-container">
                <svg id="pomodoro" height="240" width="240">
                  <circle
                          id="pomodoro--progress-ring"
                          stroke-width="40"
                          fill="transparent"
                          r="50%"
                          cx="50%"
                          cy="50%"
                          />
                </svg>
                <div id="pomodoro--content">
                  <div><span id="pomodoro--mins"></span>:<span id="pomodoro--secs"></span></div>
                  <div>
                    <button id="pomodoro--btn">Start</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- back of card -->
          <div class="card-back">
            <div class="center-wrapper">
              <div id="breath-container">
                <div id="breath-bubble"></div>
                <div id="breath-text">breath in</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Spotify widget -->
      <div id="player-widget">
        <div id="player-menu-bg">
          <div id="player-circle"></div>
        </div>
        <div id="player-widget__menu">
          <div id="player-menu__item1">creativity</div>
          <div id="player-menu__item2">problem solving</div>
        </div>
        <div id="problem-solving-playlist" class="player-widget__content blue-bg">
          <img src="{{gammaPlaylist.images.[0].url}}" alt="Problem Solving" width="40%">
          <div class="track-name-displayed">{{gammaTracks.[0].track.name}}</div>
          <div class="track-artist-displayed">{{gammaTracks.[0].track.artists.[0].name}}</div>
          <div id="player-icons">
            <i class="uil uil-shuffle"></i>
            <i class="uil uil-step-backward"></i>
            <i class="uil uil-play active"></i>
            <i class="uil uil-pause inactive"></i>
            <i class="uil uil-skip-forward"></i>
            <i class="uil uil-repeat"></i>
          </div>
          <article class="audio-tag">
          {{#each gammaTracks}}
            <figure>
              <figcaption>
                <div class="track-name">{{this.track.name}}</div>
                <div class="track-artist">{{this.track.artists.[0].name}}</div>
              </figcaption>
              <audio 
                controls
                src={{this.track.preview_url}}>
                    Your browser does not support the
                    <code>audio</code> element.
              </audio>
            </figure>          
          {{/each}}  
          </article>  
        </div>
        <div id="creativity-playlist" class="player-widget__content yellow-bg">
          <img src="{{alphaPlaylist.images.[0].url}}" alt="Creativity" width="40%">
          <div class="track-name-displayed">{{alphaTracks.[0].track.name}}</div>
          <div class="track-artist-displayed">{{alphaTracks.[0].track.artists.[0].name}}</div>
          <div id="player-icons">
            <i class="uil uil-shuffle"></i>
            <i class="uil uil-step-backward"></i>
            <i class="uil uil-play active"></i>
            <i class="uil uil-pause inactive"></i>
            <i class="uil uil-skip-forward"></i>
            <i class="uil uil-repeat"></i>
          </div>
          <article class="audio-tag">
          {{#each alphaTracks}}
            <figure>
              <figcaption>
                <div class="track-name">{{this.track.name}}</div>
                <div class="track-artist">{{this.track.artists.[0].name}}</div>
              </figcaption>
              <audio 
                controls
                src={{this.track.preview_url}}>
                    Your browser does not support the
                    <code>audio</code> element.
              </audio>
            </figure>          
          {{/each}}  
          </article>  
        </div>
      </div>
    </section>
  </div>
</main>

<!-- import scripts -->
<script src="/js/pomodoro.js"></script>
<script src="/js/player-widget.js"></script>
<script src="/js/dashboard.js"></script>