
<main id="dashboard">
  <div id="top-screen">
    <nav>
      <!-- greeting section-->
      <div>
        <h1><span id="greeting-msg"></span> {{currentUser.firstName}}</h1>
        <figure>
          <blockquote><i>"this is a quote{{zenQuote.q}}"</i></blockquote>
          <figcaption>– Author{{zenQuote.a}}</figcaption>
        </figure>
      </div>
      <!-- settings menu -->
      <div id="toggle-menu">
        <i class="uil uil-setting"></i>
        <ul id="toggle-links">
          <li><a href="/user/profile"><i class="uil uil-user-circle"></i> Profile</a></li>
          <hr>
          <li>
            <form method="POST" action="/auth/logout">
              <button type="submit"><i class="uil uil-sign-out-alt"></i></i> Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <!-- page toggle -->
    <div id="page-toggle">
      <div>focus</div>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      <div>relax</div>
    </div>

    <!-- main screen -->
    <section id="dashboard-container">
      <!-- goals container -->
      <div id="goals-section">
        <h2>Goals & projects</h2>

        <div class="collapsible-menu">
          <h3><i class="collapsible-btn uil uil-angle-down"></i>Work & study</h3>
          <div class="collapsible-content">
            <!-- display goals from db -->
            {{#each workGoals}}
            <div class="goal"><h4 style="background: {{this.color}};">{{this.title}}</h4></div>
            {{/each}}
            <div class="goal"><h4 style="background: #9295F1;">Test goal</h4></div>
            <!-- add new goal -->
            <form class="add-goal-form" method="POST" action="/user/goals">
              <input class="add-input" type="text" name="title" placeholder="Add goal">
              <button type="submit"><i class="uil uil-plus"></i></button>
              <span class="options">
                <input class="date-picker" type="date" name="startDate">
                <input class="date-picker" type="date" name="endDate">
                <input class="color-picker" type="color" value="#636EE6">
              </span>
              <input id="category-input" type="text" name="category" value="work">
            </form>
          </div>
        </div>

        <div class="collapsible-menu">
          <h3><i class="collapsible-btn uil uil-angle-down"></i>Health & fitness</h3>
          <div class="collapsible-content">
            <!-- display goals from db -->
            {{#each healthGoals}}
            <div class="goal"><h4 style="background: {{this.color}};">{{this.title}}</h4></div>
            {{/each}}
            <!-- add new goal -->
            <form class="add-goal-form" method="POST" action="/user/goals">
              <input class="add-input" type="text" name="title" placeholder="Add goal">
              <button type="submit"><i class="uil uil-plus"></i></button>
              <span class="options">
                <input class="date-picker" type="date" name="startDate">
                <input class="date-picker" type="date" name="endDate">
                <input class="color-picker" type="color" value="#636EE6">
              </span>
              <input id="category-input" type="text" name="category" value="health">
            </form>
          </div>
        </div>

        <div class="collapsible-menu">
          <h3><i class="collapsible-btn uil uil-angle-down"></i>Social life</h3>
          <div class="collapsible-content">
            <!-- display goals from db -->
            {{#each socialGoals}}
            <div class="goal"><h4 style="background: {{this.color}};">{{this.title}}</h4></div>
            {{/each}}
            <!-- add new goal -->
            <form class="add-goal-form" method="POST" action="/user/goals">
              <input class="add-input" type="text" name="title" placeholder="Add goal">
              <button type="submit"><i class="uil uil-plus"></i></button>
              <span class="options">
                <input class="date-picker" type="date" name="startDate">
                <input class="date-picker" type="date" name="endDate">
                <input class="color-picker" type="color" value="#636EE6">
              </span>
              <input id="category-input" type="text" name="category" value="social">
            </form>
          </div>
        </div>

        <div class="collapsible-menu">
          <h3><i class="collapsible-btn uil uil-angle-down"></i>Finance</h3>
          <div class="collapsible-content">
            <!-- display goals from db -->
            {{#each financeGoals}}
            <div class="goal"><h4 style="background: {{this.color}};">{{this.title}}</h4></div>
            {{/each}}
            <!-- add new goal -->
            <form class="add-goal-form" method="POST" action="/user/goals">
              <input class="add-input" type="text" name="title" placeholder="Add goal">
              <button type="submit"><i class="uil uil-plus"></i></button>
              <span class="options">
                <input class="date-picker" type="date" name="startDate">
                <input class="date-picker" type="date" name="endDate">
                <input class="color-picker" type="color" value="#636EE6">
              </span>
              <input id="category-input" type="text" name="category" value="finance">
            </form>
          </div>
        </div>
        
        <div class="collapsible-menu">
          <h3><i class="collapsible-btn uil uil-angle-down"></i>Misc.</h3>
          <div class="collapsible-content">
            <!-- display goals from db -->
            {{#each otherGoals}}
            <div class="goal"><h4 style="background: {{this.color}};">{{this.title}}</h4></div>
            {{/each}}
            <!-- add new goal -->
            <form class="add-goal-form" method="POST" action="/user/goals">
              <input class="add-input" type="text" name="title" placeholder="Add goal">
              <button type="submit"><i class="uil uil-plus"></i></button>
              <span class="options">
                <input class="date-picker" type="date" name="startDate">
                <input class="date-picker" type="date" name="endDate">
                <input class="color-picker" type="color" value="#636EE6">
              </span>
              <input id="category-input" type="text" name="category" value="other">
            </form>
          </div>
        </div>
      </div>

      <!-- tasks container -->
      <div id="tasks-section">
        <h2>Today</h2>
        <h4 id="date-today"></h4>
        <!-- display today's tasks -->
        <div class="task is-done-false">
          <form method="POST" action="/user/dashboard">
            <input class="is-done-input" name="isDone" value="true">
            <button><i class="uil uil-circle"></i></button>
          </form>
          <div style="border-left: 3px solid var(--main-blue)">This is a test task</div>
        </div>
        <hr>
        {{#each todayTasks}}
        <div class="task is-done-{{this.isDone}}">
          <form method="POST" action="/user/dashboard">
            {{#if this.isDone}}
            <input class="is-done-input" name="isDone" value="false">
            <button><i class="uil uil-check-circle"></i></button>
            {{else}}
            <input class="is-done-input" name="isDone" value="true">
            <button><i class="uil uil-circle"></i></button>
            {{/if}}
          </form>
          <div style="border-left: 3px solid {{this.goal_id.color}}">{{this.title}}</div>
        </div>
        <hr>
        {{/each}}
        <!-- add new task -->
        <form id="add-task-form" method="POST" action="/user/tasks">
          <input class="add-input" type="text" name="title" placeholder="Add task">
          <button type="submit"><i class="uil uil-plus"></i></button>
          <div class="options">
            <label>Due Date: </label>
            <span class="datepicker-toggle">
              <!--<i class="uil uil-schedule"></i>-->
              <input class="date-picker" type="date" name="endDate">
            </span>
            <select id="goal-selector" name="taskGoal">
              <option value="">Link to goal</option>
              <option value="test-option">test option</option>
              {{#each currentGoals}}
              <option value="{{this._id}}">{{this.title}}</option>
              {{/each}}
            </select>
          </div>
        </form>
        
        {{#if overdueTasks}}
        <h2>Overdue</h2>
        <!-- display overdue tasks -->
          {{#each overdueTasks}}
            {{#if this.isDone}}
            {{else}}
            <div class="task is-done-{{this.isDone}}">
              <form method="POST" action="/user/dashboard">
                <input class="is-done-input" name="is-done" value="true">
                <button><i class="uil uil-circle"></i></button>
              </form>
            <div style="border-left: 3px solid {{this.goal_id.color}}">{{this.title}}</div>
            </div>
            <hr>
            {{/if}}
          {{/each}}
        {{else}}
        {{/if}}
      </div>

      <!-- widget section -->
      <div id="widget-section">
        <div id="round-widget">
          <h3>Start</h3>
        </div>
        <div id="player-widget">

        </div>
      </div>
    </section>
  </div>

  <div id="bottom-screen">
    <div id="gantt-chart">
      <h2>Deadlines</h2>
    </div>
  </div>
</main>