
<main id="dashboard">
  <nav>
    <!-- greeting section-->
    <div>
      <h1><span id="greeting-msg"></span> {{currentUser.firstName}}</h1>
      <figure>
        <blockquote>"{{zenQuote.q}}"</blockquote>
        <figcaption>– {{zenQuote.a}}</figcaption>
      </figure>
    </div>
    <!-- settings menu -->
    <div id="toggle-menu">
      <i class="uil uil-setting"></i>
      <ul id="toggle-links">
        <li><a href="/user/profile"><i class="uil uil-user-circle"></i> Profile</a></li>
        <hr>
        <li>
          <form method="POST" action="/auth/logout">
            <button type="submit"><i class="uil uil-sign-out-alt"></i></i> Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>

  <!-- main screen -->
  <div id="dashboard-container">
    <!-- goals container -->
    <section id="goals-section">
      <h2>Goals & projects</h2>
      <h3><a href='/user/dashboard'><i class="uil uil-calendar-alt"></i> Today's tasks</a></h3>

      <div class="collapsible-menu">
        <h3><i class="collapsible-btn uil uil-angle-down"></i>Work & study</h3>
        <div class="collapsible-content">
          <!-- display goals from db -->
          {{#each workGoals}}
          <div class="goal-container">
            <div class="goal" style="background: {{this.color}};">
              <a href='/user/dashboard?goal_id={{_id}}'><h4>{{this.title}}</h4></a>
              <div class="edit-icons">
                <i class="uil uil-pen"></i>
                <i class="uil uil-trash-alt"></i>
              </div>
            </div>
            <!-- form to edit goals -->
            <form class="edit-goal-form" method="POST" action="/user/goals/{{_id}}/edit">
              <div>
                <input class="add-input" type="text" name="title" value="{{this.title}}">
                <button class="save-btn" type="submit">save</button>
              </div>
              <div>
                <input class="date-picker" type="date" name="startDate">
                <input class="date-picker" type="date" name="endDate">
                <input class="color-picker" type="color" name="color" value="#636EE6">
              </div>
            </form>
          </div>
          {{/each}}
          <!-- add new goal -->
          <form class="add-goal-form" method="POST" action="/user/goals">
            <input class="add-input" type="text" name="title" placeholder="Add goal">
            <button type="submit"><i class="uil uil-plus"></i></button>
            <span class="options">
              <input class="date-picker" type="date" name="startDate">
              <input class="date-picker" type="date" name="endDate">
              <input class="color-picker" type="color" name="color" value="#636EE6">
            </span>
            <input id="category-input" type="text" name="category" value="work">
          </form>
        </div>
      </div>

      <div class="collapsible-menu">
        <h3><i class="collapsible-btn uil uil-angle-down"></i>Health & fitness</h3>
        <div class="collapsible-content">
          <!-- display goals from db -->
          {{#each healthGoals}}
          <div class="goal-container">
            <div class="goal" style="background: {{this.color}};">
              <a href='/user/dashboard?goal_id={{_id}}'><h4>{{this.title}}</h4></a>
              <div class="edit-icons">
                <i class="uil uil-pen"></i>
                <i class="uil uil-trash-alt"></i>
              </div>
            </div>
            <!-- form to edit goals -->
            <form class="edit-goal-form" method="POST" action="/user/goals/{{_id}}/edit">
              <div>
                <input class="add-input" type="text" name="title" value="{{this.title}}">
                <button class="save-btn" type="submit">save</button>
              </div>
              <div>
                <input class="date-picker" type="date" name="startDate">
                <input class="date-picker" type="date" name="endDate">
                <input class="color-picker" type="color" name="color" value="#636EE6">
              </div>
            </form>
          </div>
          {{/each}}
          <!-- add new goal -->
          <form class="add-goal-form" method="POST" action="/user/goals">
            <input class="add-input" type="text" name="title" placeholder="Add goal">
            <button type="submit"><i class="uil uil-plus"></i></button>
            <span class="options">
              <input class="date-picker" type="date" name="startDate">
              <input class="date-picker" type="date" name="endDate">
              <input class="color-picker" type="color" name="color" value="#636EE6">
            </span>
            <input id="category-input" type="text" name="category" value="health">
          </form>
        </div>
      </div>

      <div class="collapsible-menu">
        <h3><i class="collapsible-btn uil uil-angle-down"></i>Social life</h3>
        <div class="collapsible-content">
          <!-- display goals from db -->
          {{#each socialGoals}}
          <div class="goal-container">
            <div class="goal" style="background: {{this.color}};">
              <a href='/user/dashboard?goal_id={{_id}}'><h4>{{this.title}}</h4></a>
              <div class="edit-icons">
                <i class="uil uil-pen"></i>
                <i class="uil uil-trash-alt"></i>
              </div>
            </div>
            <!-- form to edit goals -->
            <form class="edit-goal-form" method="POST" action="/user/goals/{{_id}}/edit">
              <div>
                <input class="add-input" type="text" name="title" value="{{this.title}}">
                <button class="save-btn" type="submit">save</button>
              </div>
              <div>
                <input class="date-picker" type="date" name="startDate">
                <input class="date-picker" type="date" name="endDate">
                <input class="color-picker" type="color" name="color" value="#636EE6">
              </div>
            </form>
          </div>
          {{/each}}
          <!-- add new goal -->
          <form class="add-goal-form" method="POST" action="/user/goals">
            <input class="add-input" type="text" name="title" placeholder="Add goal">
            <button type="submit"><i class="uil uil-plus"></i></button>
            <span class="options">
              <input class="date-picker" type="date" name="startDate">
              <input class="date-picker" type="date" name="endDate">
              <input class="color-picker" type="color" name="color" value="#636EE6">
            </span>
            <input id="category-input" type="text" name="category" value="social">
          </form>
        </div>
      </div>

      <div class="collapsible-menu">
        <h3><i class="collapsible-btn uil uil-angle-down"></i>Finance</h3>
        <div class="collapsible-content">
          <!-- display goals from db -->
          {{#each financeGoals}}
          <div class="goal-container">
            <div class="goal" style="background: {{this.color}};">
              <a href='/user/dashboard?goal_id={{_id}}'><h4>{{this.title}}</h4></a>
              <div class="edit-icons">
                <i class="uil uil-pen"></i>
                <i class="uil uil-trash-alt"></i>
              </div>
            </div>
            <!-- form to edit goals -->
            <form class="edit-goal-form" method="POST" action="/user/goals/{{_id}}/edit">
              <div>
                <input class="add-input" type="text" name="title" value="{{this.title}}">
                <button class="save-btn" type="submit">save</button>
              </div>
              <div>
                <input class="date-picker" type="date" name="startDate">
                <input class="date-picker" type="date" name="endDate">
                <input class="color-picker" type="color" name="color" value="#636EE6">
              </div>
            </form>
          </div>
          {{/each}}
          <!-- add new goal -->
          <form class="add-goal-form" method="POST" action="/user/goals">
            <input class="add-input" type="text" name="title" placeholder="Add goal">
            <button type="submit"><i class="uil uil-plus"></i></button>
            <span class="options">
              <input class="date-picker" type="date" name="startDate">
              <input class="date-picker" type="date" name="endDate">
              <input class="color-picker" type="color" name="color" value="#636EE6">
            </span>
            <input id="category-input" type="text" name="category" value="finance">
          </form>
        </div>
      </div>
      
      <div class="collapsible-menu">
        <h3><i class="collapsible-btn uil uil-angle-down"></i>Misc.</h3>
        <div class="collapsible-content">
          <!-- display goals from db -->
          {{#each otherGoals}}
          <div class="goal-container">
            <div class="goal" style="background: {{this.color}};">
              <a href='/user/dashboard?goal_id={{_id}}'><h4>{{this.title}}</h4></a>
              <div class="edit-icons">
                <i class="uil uil-pen"></i>
                <i class="uil uil-trash-alt"></i>
              </div>
            </div>
            <!-- form to edit goals -->
            <form class="edit-goal-form" method="POST" action="/user/goals/{{_id}}/edit">
              <div>
                <input class="add-input" type="text" name="title" value="{{this.title}}">
                <button class="save-btn" type="submit">save</button>
              </div>
              <div>
                <input class="date-picker" type="date" name="startDate">
                <input class="date-picker" type="date" name="endDate">
                <input class="color-picker" type="color" name="color" value="#636EE6">
              </div>
            </form>
          </div>
          {{/each}}
          <!-- add new goal -->
          <form class="add-goal-form" method="POST" action="/user/goals">
            <input class="add-input" type="text" name="title" placeholder="Add goal">
            <button type="submit"><i class="uil uil-plus"></i></button>
            <span class="options">
              <input class="date-picker" type="date" name="startDate">
              <input class="date-picker" type="date" name="endDate">
              <input class="color-picker" type="color" name="color" value="#636EE6">
            </span>
            <input id="category-input" type="text" name="category" value="other">
          </form>
        </div>
      </div>
    </section>

    <!-- tasks container -->
    <section id="tasks-section">
      <h2>Today</h2>
      <h4 id="date-today"></h4>
      {{#each todayTasks}}
      <!-- display today's tasks -->
      <div class="task-forms-container">
        <form class="task-form" method="POST" action="/user/tasks/{{_id}}/done">
          <div class="task-container">
            <input class="is-done-input" name="isDone" value="true">
            <button></button>
            <div class="task" style="border-left: 3px solid {{this.goal.color}}">
              <h4>{{this.title}}</h4>
              <div class="edit-icons">
                <i class="uil uil-pen"></i>
                <i class="uil uil-trash-alt"></i>
              </div>
            </div>
          </div>
        </form>
        <!-- form to edit tasks -->
        <form class="edit-task-form" method="POST" action="/user/tasks/{{_id}}/edit">
          <div class="task">
            <input class="add-input" type="text" name="title" value="{{this.title}}">
            <button class="save-btn" type="submit">save</button>
          </div>
          <div>
            <span class="datepicker-toggle">
              <input class="date-picker" type="date" name="endDate">
            </span>
            <select class="goal-selector" name="taskGoal">
              <option value="">Change goal</option>
              {{#each @root.allGoals}}
              <option value="{{this._id}}">{{this.title}}</option>
              {{/each}}
            </select>
          </div>
        </form>
      </div>
      <hr>
      {{/each}}
      <!-- add new task -->
      <form id="add-task-form" method="POST" action="/user/tasks">
        <input class="add-input" type="text" name="title" placeholder="Add task">
        <button type="submit"><i class="uil uil-plus"></i></button>
        <div class="options">
          <span class="datepicker-toggle">
            <input class="date-picker" type="date" name="endDate">
          </span>
          <select class="goal-selector" name="taskGoal">
            <option value="">Link to goal</option>
            {{#each allGoals}}
            <option value="{{this._id}}">{{this.title}}</option>
            {{/each}}
          </select>
        </div>
      </form>
      
      {{#if overdueTasks}}
      <h2>Overdue</h2>
      <!-- display overdue tasks -->
        {{#each overdueTasks}}
          {{#if this.isDone}}
          {{else}}
          <div class="task-forms-container">
            <form class="task-form" method="POST" action="/user/tasks/{{_id}}/done">
              <div class="task-container">
                <input class="is-done-input" name="isDone" value="true">
                <button></button>
                <div class="task" style="border-left: 3px solid {{this.goal.color}}">
                  <h4>{{this.title}}</h4>
                  <div class="edit-icons">
                    <i class="uil uil-pen"></i>
                    <i class="uil uil-trash-alt"></i>
                  </div>
                </div>
              </div>
            </form>
            <!-- form to edit tasks -->
            <form class="edit-task-form" method="POST" action="/user/tasks/{{_id}}/edit">
              <div class="task">
                <input class="add-input" type="text" name="title" value="{{this.title}}">
                <button class="save-btn" type="submit">save</button>
              </div>
              <div>
                <span class="datepicker-toggle">
                  <input class="date-picker" type="date" name="endDate">
                </span>
                <select class="goal-selector" name="taskGoal">
                  <option value="">Change goal</option>
                  {{#each @root.allGoals}}
                  <option value="{{this._id}}">{{this.title}}</option>
                  {{/each}}
                </select>
              </div>
            </form>
          </div>
          <hr>
          {{/if}}
        {{/each}}
      {{else}}
      {{/if}}
    </section>

    <!-- widget section -->
    <section id="widget-section">
      <!-- page toggle -->
      <div id="page-toggle">
        <div>focus</div>
        <label class="switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
        <div>relax</div>
      </div>

      <!-- pomodoro timer -->
      <div id="pomodoro-container">
        <svg id="pomodoro" height="240" width="240">
          <circle
                  id="pomodoro--progress-ring"
                  stroke-width="40"
                  fill="transparent"
                  r="50%"
                  cx="50%"
                  cy="50%"
                  />
        </svg>
        <div id="pomodoro--content">
          <div><span id="pomodoro--mins"></span>:<span id="pomodoro--secs"></span></div>
          <div>
            <button id="pomodoro--btn">Start</button>
          </div>
        </div>
      </div>

      <!-- breathing bubble -->
      <div id="breath-container">
        <div id="breath-bubble"></div>
        <div id="breath-text">breath in</div>
      </div>

      <!-- Spotify widget -->
      <div id="player-widget">
        <div id="player-menu-bg">
          <div id="player-circle"></div>
        </div>
        <div id="player-widget__menu">
          <div id="player-menu__item1">creativity</div>
          <div id="player-menu__item2">problem solving</div>
        </div>









        <div id="problem-solving-playlist" class="player-widget__content blue-bg">
          <img src="{{gammaPlaylist.images.[0].url}}" alt="" width="50%">
          <div>{{gammaTracks.[8].track.name}}</div>
          <div>{{gammaTracks.[8].track.artists.[0].name}}</div>
          <div id="player-icons">
            <i class="uil uil-shuffle"></i>
            <i class="uil uil-step-backward"></i>
            <i class="uil uil-play active"></i>
            <i class="uil uil-pause inactive"></i>
            <i class="uil uil-skip-forward"></i>
            <i class="uil uil-repeat"></i>
          </div>
          
          <article class="audio-tag">
          {{#each gammaTracks}}
                <figure>
                  <figcaption>
                    <div>{{this.track.name}}</div>
                    <div>{{this.track.artists.[0].name}}</div>
                  </figcaption>
                  <audio 
                    controls
                    src= {{this.track.preview_url}}>
                        Your browser does not support the
                        <code>audio</code> element.
                  </audio>
                </figure>          
          {{/each}}  
          </article>  
        </div>







        <div id="creativity-playlist" class="player-widget__content yellow-bg">
          <img src="{{alphaPlaylist.images.[0].url}}" alt="" width="50%">
          <div>{{alphaTracks.[1].track.name}}</div>
          <div>{{alphaTracks.[1].track.artists.[0].name}}</div>
          <div id="player-icons">
            <i class="uil uil-shuffle"></i>
            <i class="uil uil-step-backward"></i>
            <i class="uil uil-play active"></i>
            <i class="uil uil-pause inactive"></i>
            <i class="uil uil-skip-forward"></i>
            <i class="uil uil-repeat"></i>
          </div>
          
          <article class="audio-tag">
          {{#each alphaTracks}}
                <figure>
                  <figcaption>
                    <div>{{this.track.name}}</div>
                    <div>{{this.track.artists.[0].name}}</div>
                  </figcaption>
                  <audio 
                    controls
                    src= {{this.track.preview_url}}>
                        Your browser does not support the
                        <code>audio</code> element.
                  </audio>
                </figure>          
          {{/each}}  
          </article>  
        </div>
      </div>
      
    </section>
  </div>
</div>
</main>