
<main id="homepage">
  <div id="top-screen">
    <nav>
      <!-- greeting section-->
      <div>
        <!-- TODO: changer le contenu du span selon l'heure de la journée -->
        <h2><span>Good morning</span> {{currentUser.firstName}}</h2>
        <figure>
          <blockquote><i>"this is a quote{{zenQuote.q}}"</i></blockquote>
          <figcaption><strong>– Author{{zenQuote.a}}</strong></figcaption>
        </figure>
      </div>
      <!-- settings menu -->
      <div id="toggle-menu">
        <i class="uil uil-setting"></i>
        <ul id="toggle-links">
          <li><a href="/user/profile"><i class="uil uil-user-circle"></i> Profile</a></li>
          <hr>
          <li>
            <form method="POST" action="/auth/logout">
              <button type="submit"><i class="uil uil-sign-out-alt"></i></i> Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <!-- page toggle -->
    <div id="page-toggle">
      <h2>focus</h2>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      <h2>relax</h2>
    </div>

    <!-- main screen -->
    <section id="dashboard-container">
      <!-- goals container -->
      <div id="goals-section">
        <h2>Goals & projects</h2>
        <h3>Work & study</h3>
        <!-- display goals from db -->
        
        <!-- add new goal -->
        <form id="" method="POST" action="/user/goals">
          <input type="text" name="title" placeholder="Add goal">
          <input type="date" name="endDate">
          <button type="submit"></button>
        </form>
        <h3>Health & fitness</h3>
        <h3>Social life</h3>
        <h3>Finance</h3>
        <h3>Misc.</h3>
      </div>

      <!-- tasks container -->
      <div id="tasks-section">
        <h2>Today</h2>
        <!-- display today's tasks -->
        {{#each todayTasks}}
        <div class="task-{{this.isDone}}">
          <div class="task-checkbox"></div>
          <div>{{this.title}}</div>
        </div>
        {{/each}}
        <!-- add new task -->
        <form method="POST" action="/user/tasks">
          <input id="new-task-input" type="text" name="title" placeholder="Add task">
          <select id="goal-selector" name="task-goal">
            {{#each currentGoals}}
            <option value="{{this._id}}">{{this.title}}</option>
            {{/each}}
          </select>
        </form>
        <h2>Overdue</h2>
        <!-- display overdue tasks -->
        {{#each overdueTasks}}
        <div class="overdue-task-{{this.isDone}}">
          <div class="task-checkbox"></div>
          <div>{{this.title}}</div>
        </div>
        {{/each}}
      </div>

      <!-- widget section -->
      <div id="widget-section">
        <div id="round-widget">
          <h3>start</h3>
        </div>
        <div id="player-widget">

        </div>
      </div>
    </section>
  </div>

  <div id="bottom-screen">
    <div id="gantt-chart">
      <h2>Deadlines</h2>
    </div>
  </div>
</main>